@import "tailwindcss";

@layer base {
  :root {
    --background: rgba(255, 255, 255, 1);
    --foreground: rgba(10, 10, 10, 1);

    --card: rgba(255, 255, 255, 1);
    --card-foreground: rgba(10, 10, 10, 1);

    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(10, 10, 10, 1);

    --primary: rgba(247, 115, 22, 1);
    --primary-foreground: rgba(250, 250, 250, 1);
    --primary-transparent: rgba(247, 115, 22, 0.1);

    --secondary: rgba(244, 244, 245, 1);
    --secondary-foreground: rgba(28, 28, 30, 1);

    --muted: rgba(244, 244, 245, 1);
    --muted-foreground: rgba(115, 115, 115, 1);

    --accent: rgba(255, 237, 213, 1);
    --accent-foreground: rgba(194, 65, 12, 1);

    --destructive: rgba(239, 68, 68, 1);
    --destructive-foreground: rgba(250, 250, 250, 1);

    --border: rgba(229, 231, 235, 1);
    --input: rgba(229, 231, 235, 1);
    --ring: rgba(247, 115, 22, 1);

    --radius: 0.5rem;

    /* Sidebar variables */
    --sidebar-background: rgba(250, 250, 250, 1);
    --sidebar-foreground: rgba(66, 66, 66, 1);
    --sidebar-primary: rgba(247, 115, 22, 1);
    --sidebar-primary-foreground: rgba(250, 250, 250, 1);
    --sidebar-accent: rgba(255, 237, 213, 1);
    --sidebar-accent-foreground: rgba(194, 65, 12, 1);
    --sidebar-border: rgba(233, 236, 239, 1);
    --sidebar-ring: rgba(247, 115, 22, 1);
  }

  .dark {
    --background: rgba(10, 10, 10, 1);
    --foreground: rgba(250, 250, 250, 1);

    --card: rgba(10, 10, 10, 1);
    --card-foreground: rgba(250, 250, 250, 1);

    --popover: rgba(10, 10, 10, 1);
    --popover-foreground: rgba(250, 250, 250, 1);

    --primary: rgba(247, 115, 22, 1);
    --primary-foreground: rgba(250, 250, 250, 1);
    --primary-transparent: rgba(247, 115, 22, 0.3);

    --secondary: rgba(39, 39, 42, 1);
    --secondary-foreground: rgba(250, 250, 250, 1);

    --muted: rgba(39, 39, 42, 1);
    --muted-foreground: rgba(161, 161, 170, 1);

    --accent: rgba(154, 52, 18, 1);
    --accent-foreground: rgba(255, 237, 213, 1);

    --destructive: rgba(127, 29, 29, 1);
    --destructive-foreground: rgba(250, 250, 250, 1);

    --border: rgba(39, 39, 42, 1);
    --input: rgba(39, 39, 42, 1);
    --ring: rgba(247, 115, 22, 1);

    /* Sidebar variables */
    --sidebar-background: rgba(10, 10, 10, 1);
    --sidebar-foreground: rgba(250, 250, 250, 1);
    --sidebar-primary: rgba(247, 115, 22, 1);
    --sidebar-primary-foreground: rgba(250, 250, 250, 1);
    --sidebar-accent: rgba(154, 52, 18, 1);
    --sidebar-accent-foreground: rgba(255, 237, 213, 1);
    --sidebar-border: rgba(39, 39, 42, 1);
    --sidebar-ring: rgba(247, 115, 22, 1);
  }
}